body {
  background-color: #181027;
  color: white;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-menu {
  padding: 20px;
}

.nav-menu a:hover {
  overflow: hidden;
  border-bottom: 3px solid rgb(255, 255, 255);
  padding: 15px;
}

.landingimg {
  width: 70%;
  align: center;
}

.hlanding {
  padding-top: 15%;
  padding-left: 5%;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #444;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  width: 120px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
}

.toplogo {
  width: 90%;
}

.journeybutton {
  background-color: orange;
  text-align: center;
  border-radius: 12px;
  margin: 10px;
}

.landingimg {
  width: 70%;
  align: center;
  width: 70%;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; /* This centers the image within the container */
}

._round {
  padding: 10px;
}

/* Create three equal columns that floats next to each other */
.column {
  background-color: rgb(63, 34, 93);
  font-weight: bold;
  float: left;
  width: 50%;
  padding: 70px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.secondbutton {
  margin: auto;
  border: 2px solid #73ad21;
  border: thick;
  border-radius: 300px;
  border-color: chocolate;
  border-style: curved;
  border-style: solid;
  padding: 20px;
  text-align: center;
}

a:link {
  color: rgb(255, 255, 255);
}

a:visited {
  color: rgb(255, 255, 255);
}

a:active {
  color: rgb(255, 255, 255);
}

a:link,
a:visited {
  text-decoration: none;
}
